<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <link href="https://msterzhang.github.io/games/AiringGo/css/style.css" rel="stylesheet">
    <title>AiringGo</title>
</head>
<body>
    <header>
        <div id="newgamebutton" onclick="startGame()" >开始游戏!</div>
    </header>
    <canvas id="chess" width="450px" height="450px"></canvas>
</body>
<script src="https://msterzhang.github.io/games/AiringGo/js/jquery-2.1.4.min.js"></script>
<script src="https://msterzhang.github.io/games/AiringGo/js/jquery.githubRepoWidget.min.js"></script>
<script src="https://msterzhang.github.io/games/AiringGo/js/main.js"></script>
<script src="https://msterzhang.github.io/games/AiringGo/js/AiringGo.js"></script>
</html>
