<!DOCTYPE html>
<html lang="zh" >

<head>
  <head>
    <meta charset="UTF-8">
    <title>ZLOE</title>
    <link rel="stylesheet" href="/static/dou/css/style.css">
    <link rel="shortcut icon" href="//wx1.sinaimg.cn/large/006gFOhdly1fr0hdrzlolj30b40b4dg7.jpg">
</head>

  
</head>

<body>

  
<canvas id="mycanvas"></canvas>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.1/dat.gui.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.js'></script>

  

    <script  src="/static/dou/js/index.js"></script>




</body>

</html>
